<div class="header clearfix">
	<nav>
  		<ul class="nav nav-pills pull-right">
  			<li role="presentation" class="{{vm.activeNav == 'home' ? 'active' : ''}}">
  				<a href="./">Home</a>
  			</li>
  			<li role="presentation" class="{{vm.activeNav == 'login' ? 'active' : ''}}">
  				<a href="./login">Login</a>
  			</li>
  			<li role="presentation" class="{{vm.activeNav == 'register' ? 'active' : ''}}">
  				<a href="./register">Register</a>
  			</li>
  			<li role="presentation" class="{{vm.activeNav == 'contact' ? 'active' : ''}}">
  				<a href="./contact">Contact</a>
  			</li>
  		</ul>
	</nav>
